body{
    background: rgb(42, 44, 168);
    font: normal 18pt Arial;

}
header{
    color: aliceblue;
    text-align: center;
}
/* #foto{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: url("img/teste2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75% 70%;

} */
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 700px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.525);

}
footer{
    color: antiquewhite;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 8px;
}